body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  text-align: center;
}

.avatar {
  width: 300px;
  height: 300px;
}

.header__title {
  font-size: 28px;
}

.header__subtitle {
  color: rgba(24, 116, 185, 0.801);
}

main {
  border: 1px solid gray;
  text-align: center;
}

.skills ol {
  list-style: none;
}

.separator {
  height: 3px;
  width: 50%;
  background-color: rgba(96, 104, 104, 0.466);
}

.video iframe {
  width: 800px;
  height: 490px;
  border: none;
}

.ed__table {
  border-collapse: collapse;
  width: 50%;
}

.ed__table {
  margin: 0 auto;
}

.ed__table th,
td {
  border: 1px solid black;
  padding: 10px;
}

.quote {
  font-size: 32px;
}

.form {
  width: 600px;
  margin: 0 auto;
}

.form__control {
  width: 100%;
}

.control--text {
  width: 50%;
}

.form__submit {
  display: block;
  margin: 0 auto;
  background-color: antiquewhite;
}

footer {
  height: 100px;
  text-align: center;
  background-color: rgb(218, 218, 218);
}

.contacts__link {
  text-decoration: none;
  color: black;
}

.hoobies {
  list-style-position: inside;
}
